# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/db_name?schema=public"

# Auth Config
JWT_SECRET="your-jwt-secret-key-here"
JWT_EXPIRES="1d"

# Port Configurations
API_PORT=3001
WEB_PORT=3000
AI_PORT=8000
