# Environment Config
NODE_ENV=development
PORT=3001

# Database Configuration
DATABASE_URL="postgresql://inventory_user:Inventory@123@localhost:5432/inventory_ai?schema=public"

# JWT Config
JWT_SECRET=supersecretchangeinproduction
JWT_EXPIRES=1d
JWT_REFRESH_SECRET=superrefreshsecretchangeinproduction
JWT_REFRESH_EXPIRES=7d
